#quantity
{
    width: 5rem;
}
.counter
{
    justify-content: center;
}
.add-2-cart
{
    background-color: #08a108;
    transition: background-color ease 0.5s;
    color: white;
    font-weight: bold;
}
.add-2-cart:hover
{
    background-color: green;
    color: white;
}